<% include ../partials/header %>
new working
<h1> Add new book </h1>
<form action="/books"  enctype="multipart/form-data" method="POST">
    <input type="text" name="name" placeholder="Book name" accept="image">
    <input type="number" name="price" placeholder="price">
    <input type="file" name="photo">
    <br />
    <br />
    <br />
    <textarea name="desc" cols="50" rows="10">
    </textarea>
    <input type="submit" value="upload">
</form>
<% include ../partials/footer %>