<html>

<head>
  <link rel="stylesheet" href="public/css/awesomplete.css" />
  <script src="public/js/awesomplete.js" async></script>
</head>


<!--<form >-->
<input class="awesomplete" list="mylist" id="auto" />
<!--<input type="submit">
</form>-->
<datalist id="mylist" class="list">
  <option>Ahmedabad</option>
  <option>Somnath</option>
  <option>Dwarka</option>
  <option>Surat</option>
  <option>Bhuj</option>
  <option>Gandhinagar</option>
  <option>Junagadh</option>
  <option>Bhavnagar</option>
  <option>Vadodara</option>
  <option>Rajkot</option>
  <option>Jamnagar</option>
  <option>Porbandar</option>
  <option>Amreli</option>
  <option>Anand</option>
  <option>Banaskantha</option>
  <option>Bharuch</option>
  <option>Dahod</option>
  <option>Kutch</option>
  <option>Kheda</option>
  <option>Mehsana</option>
  <option>Navsari</option>
  <option>Patan</option>
  <option>Panchmahal</option>
  <option>Sabarkantha</option>
  <option>Surendranagar</option>
  <option>Valsad</option>
  <option>Vapi</option>

</datalist>
<a id="text"> </a>
<script>
  //Check if the input is from options or not 
  var inputs = document.querySelectorAll('.awesomplete');
  for (var i = 0; i < inputs.length; i++) {
    // When the value of the input changes...
    inputs[i].addEventListener('change', function () {
      var optionFound = false,
        datalist = document.getElementById("mylist")
      // Determine whether an option exists with the current value of the input.
      for (var j = 0; j < datalist.options.length; j++) {
        if (this.value == datalist.options[j].value) {
          optionFound = true;
          break;
        }
      }
      // use the setCustomValidity function of the Validation API
      // to provide an user feedback if the value does not exist in the datalist
      if (optionFound) {
        this.setCustomValidity('');
        document.getElementById('text').innerHTML = "found"
        console.log("FOUND")
        //AJAX HERE 
      } else {
        document.getElementById('text').innerHTML = "not found"
        this.setCustomValidity('Please select a valid value.');
        console.log("NOT FOUND")
      }
    });
  }

</script>

</html>