<% include partials/header %>

    <!--<!DOCTYPE html>-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="dist/geolocator.min.js"></script>
    <script type="text/javascript">
        // $(document).ready(function () {
        // window.onload = function () {
        //     //     console.log("READY")
        //     $('#area').on('submit', function (event) {
        //         console.log("WORKS")
        //         // document.forms['area'].submit()

        //         event.preventDefault();


        //         var data = {
        //             city: $('#city').val()
        //             // address: $('#address').val(lcoation.address)
        //         };
        //         $.ajax({
        //             url: '/location',
        //             data: data,
        //             method: 'POST'
        //         }).then(function (response) {
        //             console.log("SENT")
        //             console.log(response)
        //         })
        //     })

        // }
        // document.forms['area'].submit()

        $.ajax({                    
  url: '/location',     
  type: 'post', // performing a POST request
  data : {
    data1 : 'lajdls' // will be accessible in $_POST['data1']
  },
  dataType: 'json',                   
  success: function(data)         
  {
    // etc...
  } 
});
</script>

    <!--<form action="/location" method="POST" id="area">
        <input type="text" value="default" name="city" id="city">
        <!--<input type="hidden" name="address" id="city">-->
        <!--<input type="submit" value="submit">
    </form>-->-->