<% include ../partials/header %>

Change profile: 
<a href="/user/<%= currentUser.username%>/profile"> Change </a>
<% books.forEach(function(books){ %>
    <%= books.name %>
    <img src="<%= books.image %>" />
    <br />
    
<% }) %>
<br />
<%= usr %>
